---
import type { CollectionEntry } from "astro:content";
import ReadingStats from "../../layouts/ReadingStats.astro";
import YearButtons from "../YearButtons";
import { getBooks } from "../../utils/getBooks";
import BookInfo from "../BookInfo.astro";

export interface Props {
  currentYear?: number;
  isReview?: boolean;
  bookInfo?: any;
}

const { currentYear, isReview, bookInfo } = Astro.props;

const books: CollectionEntry<"books">[] = currentYear
  ? await getBooks(currentYear)
  : await getBooks();
---

<aside
  class="flex flex-col items-start self-start lg:sticky top-10 py-1 mx-4 sm:mx-0 sm:!pl-6 overflow-y-auto"
>
  <h1 class="text-2xl sm:text-4xl lg:text-5xl mb-4 sm:mb-8">
    <span class="text-gradient !inline sm:!block">
      {currentYear ? `${currentYear}` : "Yearly"}
    </span>{" "}
    Books
  </h1>
  <nav
    class="flex sm:flex-col items-stretch justify-between w-full sm:gap-4 mb-4 sm:mb-8 flex-wrap"
  >
    <YearButtons currentYear={currentYear} isReview={isReview} />
  </nav>
  <ReadingStats books={books} mini={true} />
  {
    bookInfo && (
      <aside class="items-center hidden sm:flex sm:flex-col sm:gap-4 lg:hidden mt-4 p-4 bg-slate-50 shadow-sm rounded-xl">
        <BookInfo {...bookInfo} />
      </aside>
    )
  }
</aside>
