---
import { getCollection } from "astro:content";
import { getStars } from "../utils/rating";
import { getImagePath, removeYearFromPath } from "../utils/digits";

import "../styles/bookpage.styles.css";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
	const bookEntries = await getCollection("books");
	return bookEntries.map((entry: { slug: string }) => ({
		params: { slug: entry.slug },
		props: { entry }
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

let { title, author, month, score, image, year, genre } = entry.data;
image = `.${removeYearFromPath(getImagePath(image, year))}`;

const heroImage = entry.data.heroimage
	? `.${getImagePath(entry.data.heroimage[0], year)}`
	: null;
const extraImage = entry.data.extraimage
	? `.${getImagePath(entry.data.extraimage, year)}`
	: null;
const extraImages = entry.data.extraimages
	? entry.data.extraimages.map((image: string) => `.${getImagePath(image, year)}`)
	: null;
---

<Layout title={title}>
	<main class="instructions m-top">
		<h1>
			<span class="text-gradient">{title}</span>
		</h1>
		<h3>by {author}</h3>
		<div class="wrapper">
			<section class="book-review">
				<article class="book-info">
					<img src={image} alt={title} class="book-cover-big" />
					<aside>
						<span set:html={getStars(score)} />
						<h3>Read on</h3>
						<p>
							{month}, {year}
						</p>
						<hr />
						<h3>Genres</h3>
						<p class="pill-flex">
							{
								genre.map((genre: [string]) => (
									<span class="pill">{genre}</span>
								))
							}
						</p>
					</aside>
				</article>
				<article class="instructions book-content">
					{
						heroImage && (
							<img
								src={heroImage}
								alt={title}
								class={
									entry.data.heroimage[1] === "full"
										? "image"
										: "image right"
								}
							/>
						)
					}
					<Content />
					{
						extraImage && (
							<img src={extraImage} alt={title} class="image m-top" />
						)
					}
					{
						extraImages && (
							<div class="extra-images">
								<img src={extraImages[0]} alt={title} class="image" />
								<img src={extraImages[1]} alt={title} class="image" />
							</div>
						)
					}
					<nav>
						<hr />
						<a href={`../../`} rel="noopener noreferrer" class="center">
							Go Back
						</a>
					</nav>
				</article>
			</section>
		</div>
	</main>
</Layout>
