---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import { getStars, getAverageStars } from "../utils/rating";
import { getDigits } from "../utils/digits";
import { getMostReadGenres } from "../utils/genres";
import "../styles/year.styles.css";
import { getCollection } from "astro:content";

// const getBooksByYear = async (year: number) => {
// 	const result = await getCollection("books", ({ id }) => {
// 		// console.log(`Checking book with ID ${id}`);
// 		return id.startsWith(`${year}/`);
// 	});
// 	console.log(`Found ${result.length} books for year ${year}`);
// 	return result;
// };

// export async function getStaticPaths() {
// 	const bookEntries = await getCollection("books");
// 	return bookEntries.map((entry: { slug: string }) => ({
// 		params: { slug: entry.slug },
// 		props: { entry }
// 	}));
// }

const getBooks = async (year?: number) => {
	let result;
	if (year) {
		const getBooksByYear = await getCollection("books", ({ id }) => {
			return id.startsWith(`${year}/`);
		});
		result = getBooksByYear;
		console.log(`Found ${result.length} books for year ${year}`);
	} else {
		result = await getCollection("books");
	}
	return result;
};
let books = await getBooks();
---

<Layout title="My Books.">
	<main class="instructions">
		<h1>Read <span class="text-gradient">Books</span></h1>
		<nav>
			<button class="get2021">2021</button>
		</nav>
		<section class="img-grid">
			{
				books.map((book) => {
					const imagePath = `./books${getDigits(book.data.year, 2)}/${getDigits(
						book.data.image,
						3
					)}`;
					return (
						<article class="book-grid-item">
							<a href={book.slug}>
								<Image
									alt={book.data.title}
									width={300}
									height={400}
									aspectRatio="4:3"
									format="webp"
									src={imagePath}
								/>
							</a>
							<a href={book.slug}>{book.data.title}</a>
							<div
								set:html={getStars(book.data.score)}
								class="book-grid-rating"
							/>
						</article>
					);
					<x />;
				})
			}
		</section>
	</main>
</Layout>
