---
import { CollectionEntry, getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { validYears } from '../content/config'
import {
	getMostReadGenresByYear,
	getTop5MostReadGenres,
	getBooksByGenre,
	getBooksByGenreAndYear
} from '../utils/genres'
import DonutChart from '../components/DonutChart'
import ReadingStats from "../layouts/ReadingStats.astro";
import Sidebar from "../layouts/Sidebar.astro";
const { year } = Astro.props;

const allBooks: CollectionEntry<'books'>[] = await getCollection('books')
const genresByYear = getMostReadGenresByYear(allBooks, validYears)
---

<Layout title="All Books" transition:name={`books`}>
  <Sidebar currentYear={year} />

		<section class="wrapper p-6 md:p-8 bg-gray-50 rounded-lg shadow-lg m-6">
			<h2 class="text-3xl text-gradient font-bold">
				Top 5 Genres by Year with Book Titles
			</h2>
			<ReadingStats books={allBooks} />
			<section class="flex flex-col gap-8 mx-auto">
				{validYears.map((year) => (
					<div class="flex flex-col lg:flex-row border-b border-slate-200 pb-8 gap-4 items-center lg:items-start w-full justify-between">
						<DonutChart data={genresByYear[year]} year={year} client:only="react" />
						<!--<h3 class="text-4xl font-semibold text-gray-700 dark:text-gray-300 mb-2">{year}</h3>-->
						<ul class="gap-4 pt-8 grid grid-cols-2 xl:grid-cols-3 2xl:grid-cols-5 grid-flow-dense flex-1">
							{Object.entries(genresByYear[year] || {}).map(([genre, count]) => (
								<li
									class="py-2 flex flex-col text-left items-start"
								>
									<strong>{genre}</strong>
									{getBooksByGenreAndYear(allBooks, genre, year).map((book) => (
										<a class="pl-4 text-sm border-l border-l-violet-500 max-w-52 lg:max-w-44" href={"/" + book.slug}>
										{book.title}
									</a>
									))}
								</li>
							))}
						</ul>
					</div>
				))}
			</section>
		</section>
</Layout>
<!--<div class="flex flex-col items-center gap-2 text-lg font-medium text-gray-700 dark:text-gray-300">-->
<!--	<strong class="text-violet-600 dark:text-violet-400">{genre}</strong>-->
<!--	<span class="text-sm text-gray-500 dark:text-gray-400">({count} reads)</span>-->
<!--</div>-->
<!--<ul class="mt-2 space-y-1 ml-4 text-gray-600 dark:text-gray-400">-->