---
import type { Genre } from "../utils/genreList";
export interface Props {
  cover: string;
  score: number;
  year: number;
  month: string;
  genres: Genre[];
  title: string;
}

import { getStars } from "../utils/rating";
import { Image } from "astro:assets";

const { cover, score, year, month, genres, title } = Astro.props;
---

<div
  transition:name={`book-${title}`}
  class="bg-slate-50/50 max-w-[75ch] p-6 gap-6 mx-auto rounded-xl shadow flex items-center sticky top-2"
>
  <div class="flex items-center gap-2 flex-col">
    <Image
      src={cover}
      alt={title}
      class="rounded-lg shadow-sm"
      width={100}
      height={150}
      format="webp"
      loading="lazy"
      quality={"mid"}
      layout="constrained"
    />
    <span set:html={getStars(score)} class="flex mt-3" />
  </div>
  <div class="grid sm:grid-cols-2 gap-2">
    <div>
      <h3 class="mb-2 font-bold">Genres</h3>
      <div class="flex gap-2 flex-wrap items-start">
        {
          genres &&
            genres.map(genre => (
              <a
                href={`/genre/${genre}`}
                class="bg-ctp-peach-400/50 !text-ctp-rosewater-900 px-2 py-1 rounded-full text-xs hover:underline"
              >
                {genre}
              </a>
            ))
        }
      </div>
    </div>
    <div class="mx-auto">
      <h3 class="mb-2 font-bold">Read on</h3>
      <p>
        {month}, {year}
      </p>
    </div>
  </div>
</div>
