---
import type { Genre } from "../utils/genreList";
export interface Props {
  cover: string;
  score: number;
  year: number;
  month: string;
  genres: Genre[];
  title: string;
}

import { getStars } from "../utils/rating";
import { Image } from "astro:assets";

const { cover, score, year, month, genres, title } = Astro.props;
---

<div
  transition:name={`book-${title}`}
  class="bg-slate-50 p-6 max-w-64 rounded-xl shadow flex flex-col items-center sticky top-2"
>
  <Image
    src={cover}
    alt={title}
    class="w-full h-auto rounded-lg max-w-44 shadow-sm"
    width={250}
    height={350}
    format="webp"
    loading="lazy"
    quality={"mid"}
    layout="constrained"
  />
  <span set:html={getStars(score)} class="flex mt-3" />
  <div class="grid grid-cols-2 sm:hidden">
    <div>
      <h3 class="mb-2 font-bold">Genres</h3>
      <div class="flex gap-2 flex-wrap items-start">
        {
          genres &&
            genres.map(genre => (
              <a
                href={`/genre/${genre}`}
                class="bg-ctp-peach-400/50 px-2 py-1 rounded-full text-xs hover:underline"
              >
                {genre}
              </a>
            ))
        }
      </div>
    </div>
    <div class="mx-auto">
      <h3 class="mb-2 font-bold">Read on</h3>
      <p>
        {month}, {year}
      </p>
    </div>
  </div>

  <div class="hidden sm:flex sm:flex-col gap-2 items-center">
    <h3 class="font-bold">Read on</h3>
    <p>
      {month}, {year}
    </p>
    <hr class="border border-b-zinc-400" />
    <h3 class="font-bold">Genres</h3>
    <div class="flex gap-2 flex-wrap items-start justify-center">
      {
        genres &&
          genres.map(genre => (
            <a
              href={`/genre/${encodeURIComponent(genre)}`}
              class="bg-ctp-peach-400/50 px-2 py-1 rounded-full text-xs hover:underline"
            >
              {genre}
            </a>
          ))
      }
    </div>
  </div>
</div>
