---
import { Image } from "astro:assets";
export interface Props {
	extraImage?: string | null;
	extraImages?: string[] | null;
	title: string;
}

const { extraImage, extraImages, title } = Astro.props;
---

{extraImage && <img src={extraImage} alt={title} class="image m-top m-center" />}
{
	extraImages && (
		<div class="extra-images">
			<Image
				src={extraImages[0]}
				alt={title}
				class="image"
				width={1000}
				height={400}
				quality={"low"}
			/>
			<Image
				src={extraImages[1]}
				alt={title}
				class="image"
				width={1000}
				height={400}
				quality={"low"}
			/>
		</div>
	)
}
