---
import { Image } from "astro:assets";

export interface Props {
  extraImage?: ImageMetadata | null;
  extraImages?: ImageMetadata[] | null;
  title: string;
}

const { extraImage, extraImages, title } = Astro.props;
---

{
  extraImage && (
    <div class="flex justify-center my-6">
      <Image
        src={extraImage}
        alt={title}
        class="rounded-xl shadow-lg max-w-2xl w-full object-cover"
        loading="lazy"
        format="webp"
        quality={"mid"}
        width={1000}
        height={400}
      />
    </div>
  )
}
{
  extraImages && (
    <div class="flex flex-row gap-4 justify-center my-6">
      <Image
        src={extraImages[0]}
        alt={title}
        class="rounded-xl shadow-md w-[48%] object-cover"
        loading="lazy"
        width={1000}
        height={400}
        format="webp"
        quality={"mid"}
      />
      <Image
        src={extraImages[1]}
        alt={title}
        class="rounded-xl shadow-md w-[48%] object-cover"
        width={1000}
        loading="lazy"
        format="webp"
        height={400}
        quality={"low"}
      />
    </div>
  )
}
