---
import type { CollectionEntry } from "astro:content";
import { getImagePath, getUrlPath } from "../utils/digits";
import { getStars } from "../utils/rating";

export interface Props {
	books: CollectionEntry<"books">[];
	year?: number;
}

const { books, year } = Astro.props;
---

<section class="img-grid instructions">
	{
		books.map((book) => {
			const imagePath = `${year ? `..` : `.`}/${getImagePath(
				book?.data.image,
				book?.data.year
			)}`;
			return (
				<article class="book-grid-item">
					<a
						href={
							year
								? getUrlPath(book?.slug, true)
								: getUrlPath(book?.slug, false)
						}
					>
						<img src={imagePath} alt={book?.data.title} />
					</a>
					<a
						href={
							year
								? getUrlPath(book?.slug, true)
								: getUrlPath(book?.slug, false)
						}
						class="book-slug"
					>
						{book?.data.title}
					</a>
					<div set:html={getStars(book?.data.score)} class="book-grid-rating" />
				</article>
			);
		})
	}
</section>

<!-- FIXME: Couldn't make the dynamic assets to work. -->
<!-- 	const imagePath = `${removeFileExtension(
				getLocalImagePath(book?.data.image, book?.data.year)
			)}`; -->
<!-- 	<Image
							alt={book?.data.title}
							width={350}
							height={450}
							aspectRatio="4:3"
							format="webp"
							src={import(`../${imagePath}.jpg`)}
						/> -->
