---
import { getStars } from "../utils/rating";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";
import { getSortedBooks } from "../utils/getBooks";
import { HashStraightIcon } from "@phosphor-icons/react";
import FilterLink from "./FilterLink.astro";
import BookCardLink from "./BookCardLink.astro";
import { validYears } from "@/content/config";

export interface Props {
  year?: number;
}

const { year } = Astro.props;
const allBooks = await getSortedBooks(year);
const pathname = Astro.url.pathname;
const isRoot = pathname === "/" || pathname === "/index.html";
---

<nav class="px-6 mb-2 mt-10 flex justify-center">
  <div class="flex gap-2 flex-wrap items-center justify-center">
    <FilterLink href="/index.html" active={isRoot}>
      <HashStraightIcon size={16} color="var(--catppuccin-color-teal-300)" weight="duotone" />
      All Books
    </FilterLink>
    {
      validYears.map((currentYear: number) => (
        <FilterLink href={`/${Number(currentYear)}`} active={currentYear === year}>
          <HashStraightIcon size={16} color="var(--catppuccin-color-teal-300)" weight="duotone" />
          {currentYear}
        </FilterLink>
      ))
    }
  </div>
</nav>
<main class="flex flex-wrap mx-auto gap-8 justify-center p-6 sm:p-8">
  {
    allBooks.map((book) => (
      <BookCardLink href={`/${book?.id}`}>
        <div
          transition:animate={fade({ duration: "0.4s" })}
          transition:name={`book-${book?.data.title}`}
          class="flex flex-col flex-1 items-center w-full"
        >
          <div class="overflow-hidden rounded-xl w-[200px] h-[250px] shadow-xs">
            <Image
              src={book?.data.image}
              alt={book?.data.title}
              width={200}
              height={250}
              format="webp"
              quality={"high"}
              loading="lazy"
              layout="constrained"
              class="h-auto rounded-xl w-[200px] object-cover"
            />
          </div>
          <aside class="sm:absolute mt-2 sm:mt-0 justify-center sm:-right-3 top-1 z-20 flex gap-1">
            <div class="bg-ctp-teal-100 text-xs text-white px-2 py-1 rounded-md shadow-sm">
              {book?.data.year}
            </div>
            <div class="bg-ctp-rosewater-400 text-xs text-white px-2 py-1 rounded-md shadow-sm">
              {book?.data?.genre[0]}
            </div>
          </aside>
          <h3 class="text-xl my-2 sm:line-clamp-2 items-center whitespace-normal">
            {book?.data.title}
          </h3>
          <span set:html={getStars(book?.data.score)} class="flex mt-auto" />
        </div>
      </BookCardLink>
    ))
  }
</main>
