---
import { getStars } from "../utils/rating";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { listAllGenres } from "../utils/genres";
import { fade, slide } from "astro:transitions";

export interface Props {
  year?: number;
}

const { year } = Astro.props;

let allBooks = await getCollection("books");

if (year) allBooks = await getCollection("books", ({ data }) => Number(data.year) === year);
---

<main
  class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-6 justify-center p-6 mx-6 lg:mx-12"
>
  {
    allBooks.map(book => {
      return (
        <a
          transition:animate={fade({ duration: "0.4s" })}
          transition:name={`book-${book?.data.title}`}
          href={`/${book?.slug}`}
          class="flex flex-col bg-slate-50 sm:shadow-sm rounded-xl relative duration-300 hover:sm:shadow-md p-4 flex-1 items-center border border-transparent hover:text-ctp-rosewater-300 hover:border-ctp-rosewater-200"
        >
          <div class="overflow-hidden rounded-xl w-[200px] h-[250px] shadow-sm">
            <Image
              src={book && book?.data.image}
              alt={book?.data.title}
              width={200}
              height={250}
              format="webp"
              quality={"high"}
              loading="lazy"
              class="h-auto rounded-xl w-[200px] object-cover"
            />
          </div>
          <aside class="sm:absolute mt-2 sm:mt-0 justify-center sm:-right-3 top-1 z-20 flex gap-1">
            <div class="bg-ctp-teal-100 text-xs text-white px-2 py-1 rounded-md shadow-sm">
              {book?.data.year}
            </div>
            <div class="bg-ctp-rosewater-400 text-xs text-white px-2 py-1 rounded-md shadow-sm">
              {book?.data?.genre[0]}
            </div>
          </aside>
          <h3 class="text-xl my-2 sm:line-clamp-2 items-center whitespace-normal">
            {book?.data.title}
          </h3>
          <span set:html={getStars(book?.data.score)} class="flex mt-auto" />
        </a>
      );
    })
  }
</main>
