---
const { frontmatter } = Astro.props;
import { getStars } from "../utils/rating";
import Card from "../components/Card.astro";

import "../styles/bookpage.styles.css";
import "../styles/global.css";

import "@fontsource/fraunces";
import "@fontsource/fraunces/800.css";
import "@fontsource/karla";

const genres = frontmatter.genre;
const heroImage = frontmatter.heroimage;
---

<html>
	<head>
		<meta charset="UTF-8" />
		<script src="https://unpkg.com/phosphor-icons"></script>
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
		<link rel="icon" type="image/png" href="/assets/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<main class="instructions m-top">
			<h1>
				<span class="text-gradient">{frontmatter.title}</span>
			</h1>
			<h3>by {frontmatter.author}</h3>
			<section class="book-review">
				<article class="instructions">
					<img
						src={frontmatter.image}
						alt={frontmatter.title}
						class="book-cover-big"
					/>
					<aside>
						<span set:html={getStars(frontmatter.score)} />
						<h3>Read on</h3>
						<p>
							{frontmatter.month}, {frontmatter.year}
						</p>
						<hr />
						<h3>Tags</h3>
						<p class="pill-flex">
							{
								genres.map((genre: [string]) => (
									<span class="pill">{genre}</span>
								))
							}
						</p>: unknown
						<hr />
						<Card
							href={`../../books/${frontmatter.year}`}
							title={`${frontmatter.year}`}
							body="Go back to Index"
						/>
					</aside>
				</article>
				<article class="instructions" style="flex-basis: 600px">
					{
						heroImage && (
							<img
								src={heroImage[0]}
								alt={frontmatter.title}
								class={heroImage[1] === "full" ? "image" : "image right"}
							/>
						)
					}
					<slot />
					{
						frontmatter.extraimage && (
							<img
								src={frontmatter.extraimage}
								alt={frontmatter.title}
								class="image m-top"
							/>
						)
					}
					{
						frontmatter.extraimages && (
							<div class="extra-images">
								<img
									src={frontmatter.extraimages[0]}
									alt={frontmatter.title}
									class="image"
								/>
								<img
									src={frontmatter.extraimages[1]}
									alt={frontmatter.title}
									class="image"
								/>
							</div>
						)
					}
				</article>
			</section>
		</main>
	</body>
</html>
