---
import Layout from '../layouts/Layout.astro'
import { getStars } from '../utils/rating'
import '../styles/year.styles.css'
import { Image } from 'astro:assets'
import Sidebar from '../components/Sidebar.astro'

export interface Props {
	cover: ImageMetadata
	score: number
	year: number
	month: string
	genres: string[]
	title: string
}

const { cover, score, year, month, genres, title } = Astro.props
---

<Layout title="Book List">
	<main class="review-box">
		<Sidebar isReview />
		<slot />
		<aside class="book-info">
			<Image
				src={cover}
				alt={title}
				class="book-cover-big"
				width={250}
				height={300}
				format="webp"
				quality={'mid'}
			/>
			<span set:html={getStars(score)} />
			<h3>Read on</h3>
			<p>
				{month}, {year}
			</p>
			<hr />
			<h3>Genres</h3>
			<p class="pill-flex">
				{genres?.map((genre: string) => <span class="pill">{genre}</span>)}
			</p>
			<hr />
		</aside>
	</main>
</Layout>
