---
import Layout from '../layouts/Layout.astro'
import '../styles/year.styles.css'
import Sidebar from '../components/Layout/Sidebar.astro'
import BookInfo from '../components/BookInfo.astro'

export interface Props {
	cover: ImageMetadata
	score: number
	year: number
	month: string
	genres: string[]
	title: string
}

const { cover, score, year, month, genres, title } = Astro.props

const bookInfo = {
	cover: cover,
	score: score,
	year: year,
	month: month,
	genres: genres,
	title: title
}
---

<Layout title="Book List">
	<main class="review-box self-start lg:sticky">
		<Sidebar isReview bookInfo={bookInfo} />
		<slot />
		<aside
			class="items-center sm:ml-4 mt-4 sm:mt-0 bg-slate-50 shadow-md rounded-xl flex gap-4 flex-col sm:hidden lg:flex lg:flex-col lg:gap-4 lg:!px-0 self-start lg:sticky top-10"
		>
			<BookInfo
				score={score}
				year={year}
				month={month}
				genres={genres}
				title={title}
				cover={cover}
			/>
		</aside>
	</main>
</Layout>
